.container{
    display: flex;
}
.row-2{
    background-color: #cccccc;
}
#profile-icon{
    border-radius: 50%;
    width: 100px;
}
#about-icon{
    border-radius: 50%;
    width: 50px;
}
.about-page{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
#work-icon{
    width: 50px;
    border-radius: 50%;
    background-color: #CB2D6F;
}
#education-icon{
    width: 50px;
    border-radius: 50%;
    background-color: #CB2D6F;
}
#contact-icon{
    width: 50px;
    border-radius: 50%;
    background-color: #CB2D6F;
}
#skills-icon{
    width: 50px;
    border-radius: 50%;
    background-color: #CB2D6F;
}
#projects-icon{
    width: 50px;
    border-radius: 50%;
    background-color: #CB2D6F;
    
}
.about-icon-description{
    display: flex;
    /* justify-content: space-between; */
}
.about-icons{
    display: inline;
}
.work-experience-icon-description{
    display: flex;
}
.experience-description{
    margin-left: 70px;
}
.about-icon-description{
    display: flex;
}
.education-icon-description{
    display: flex;
}
.skills-icon-description{
    display: flex;
    display: space-between;
}
.contact-icon-description{
    display: flex;
}
.projects-icon-description{
    display: flex;
}
.about-icon-description{
}
.description{
    border-radius: 15px;
    background-color: #CB2D6F;
    width: 55px;
    padding: 10px;
    height: 10px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin-left: 10px;
    font-size: x-small;
    text-transform: uppercase;
}
.description a:hover{
    background-color: burlywood;
}
.description a: :active{
    background-color:red;
}
#img-icons{
    width: 30px;
    border-radius: 50%;
}
.float-left{
    float: left;
}
#img-project{
    width:100px;
}
#img-contact{
    width: 30px;
    border-radius: 50%;
    height: 30px;
}
.more{
    background-color: #CB2D6F;
    border-radius: 4px;
    text-align: center;
    width: 30%;
    outline: none;
    transition: ease-in-out 0.8s;
    padding: 4px;
}
.more:hover{
    cursor: pointer;
    box-shadow:inset 80px 0 0 0 #0e0c0c;
}
.view-online{
    background-color: #CB2D6F;
    border-radius: 4px;
    text-align: center;
    width: 70px;
    outline: none;
    transition: ease-in-out 0.8s;
    height: 25px;
    padding: 4px;
}
.view-online:hover{
    cursor: pointer;
    box-shadow:inset 70px 0 0 0 #0e0c0c;

}
.links{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    
}
.header{
    color: #CB2D6F;
    padding: 4px 0px 4px 4px;
}
.sub-header{
    color: #CB2D6F
}
.button-send-message{
    background-color: ;
}
.landing-page{
    background-color: #CB2D6F;
    color: white;
}
.bg-color-black{
    background-color: black;
}
body{
    background-color: white;
    font-family: monospace;
    /* padding: 5px; */
    margin-right: 50px;
}
.landing-page-header{
    color: black;
}
.landing-page{
    padding: 20px;
}
.button-send-message{
    background-color: #cccccc;
    color: black;
    width: 125px;border-radius: 45px;
    text-align: center;
    height: 25px;
}
.project{
    background-color: #FBEFEF;
    padding: 20px;
    margin: 20px;
    width: 180px;
    flex-direction: column;

}
.year-service{
    background-color: #CB2D6F;
    color:#cccccc;
    width: 120px;
    border-radius: 20px;
    text-align: center;
}
.sub-header{
    text-align: center;
}
.sub-header-education{
    color: #CB2D6F;
}
span{
    color: black;
}
.colum{
    flex-direction: row;
}
.nav-bar-icons{
    /* background-color: cyan; */
    padding: 20px 20px 20px 20px;
}
.contact-col{
    display: flex;
    justify-content: space-evenly;
}
.education{
    display: flex;
    justify-content: space-around;
}
.projects-content{
    display: flex;
    justify-content: space-evenly;
}
.col-skills{
    display: flex;
    justify-content: space-evenly;
}
.languages ul{
    display: flex;
    justify-content: space-evenly;
}
.frameworks ul{
    display: flex;
    justify-content: space-evenly; 
}
.landing-page{
    display: flex;
    justify-content: space-evenly;  
}
.col-1{
    border-style: dotted;
    border-color: #CB2D6F;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-right: 30px;
}

@media only screen and (min-width=400px) {
    body{
        background-color: yellow;
    }
}

